<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Phone_Book.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Phone_Book.Properties.Settings.Phone_BookConnectionString"
            connectionString="Data Source=LAPTOP-54DEQRCD;Initial Catalog=Phone_Book;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Phone_Book.Properties.Settings>
            <setting name="login_first_name" serializeAs="String">
                <value />
            </setting>
        </Phone_Book.Properties.Settings>
    </userSettings>
</configuration>